.section {
/*    border-style: solid;*/
    width: 60%;
    margin: auto;
}
#upperImage {
    width: 60%;
    margin: auto;
    padding: 30px 0 20px;
    text-align: center;
    transform: scale(0.70);
}
#lowerImage {
    width: 60%;
    margin: auto;
    padding: 30px 0 20px;
    text-align: center;
    transform: rotate(180deg) scale(0.70);
}

/* Forms */
.contactForm {
/*    border-style: solid;*/
    padding-top: 10px;
    text-align: center;
}

.contactForm h1 {
/*    border-style: solid;*/    
    text-align: center;
    background-color: white;
    font-family: "Playfair Display";
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 25px;
    color: black;
    margin: 5px 0;
    padding: 10px;
/*    width: 100%;*/
}

.contactForm input {
    padding: 5px;
    margin: 2.5px;
    border-radius: 7px;
}
.contactForm button {
    font-family: "Playfair Display";
    letter-spacing: 3px;
    font-size: 17px;
    border: none;
    background-color: #e7e7e7;
    color: #424242;
    border-radius: 7px;
    margin: 10px 0;
    padding: 5px 10px;   
}
.contactForm button:hover {
    background-color: #c6c6c6;
    color: black;
    
}
.contactForm hr {
    margin: 50px 0;
}














